:root {
  font-family: Montserrat, Inter, Avenir, Helvetica,  sans-serif;
}

/* MUI custom theme */

/* .textFieldPrimary {color: #3C1C91; Color primario} */

/* .textFieldWhite {  color: #ffffff; Color alternativo blanco} */
